<div class="container-fluid">
    <div class="row banner">
        <img src="/images/orthopedics-banner.png" alt="banner-img" class="banner-img">
    </div>
    <div class="row service">
        <div class="col-12 mb-4">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Overview</div>
        <!-- <h5 class="sub-head text-center mb-4">Meet our founder</h5> -->
            <p>
                Our Orthopedics department specializes in diagnosing and treating musculoskeletal issues,
                offering a full range of surgical and non-surgical solutions to restore mobility and improve
                quality of life.
            </p>
        </div>
        <div class="col-md-5 offered">
            <h5>Services Offered</h5>
            <ul>
                <li><i class="pi pi-check"></i> Total Knee and Hip Replacement Surgeries</li>
                <li><i class="pi pi-check"></i> Arthroscopy and Sports Injury Management</li>
                <li><i class="pi pi-check"></i> Fracture Treatment and Trauma Care</li>
                <li><i class="pi pi-check"></i> Endoscopic Spine Surgery</li>
            </ul>
        </div>
        <div class="row whyChooseUs mt-5">
            <h5>Why Choose Us?</h5>
            <div class="col-4">
                <div class="info-card">
                    <p>Use of minimally invasive techniques for faster recovery</p>
                </div>
            </div>
            <div class="col-4">
                <div class="info-card">
                    <p>Comprehensive pre-and post-surgery rehabilitation programs</p>
                </div>
            </div>
            <div class="col-4">
                <div class="info-card">
                    <p>Expert orthopedic surgeons with decades of experience</p>
                </div>
            </div>
        </div>
    </div>
</div>