<div class="container-fluid">
    <!-- <div class="row banner">
        <img src="/images/24-7Pharmacy-banner.png" alt="banner-img" class="banner-img">
    </div> -->
    <div class="row service">
        <div class="col-12 mb-4">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Overview</div>
        <!-- <h5 class="sub-head text-center mb-4">Meet our founder</h5> -->
            <p>
                Our auxiliary services ensure a seamless healthcare experience by integrating modern diagnostic and recovery facilities.
            </p>
        </div>
        <div class="col-md-8 offered">
            <h5>Services Offered</h5>
            <ul class="p-0 m-0">
                <li><i class="pi pi-check"></i> <span>24x7 Pharmacy</span><span>Ensures the availability of medicines round the clock</span></li>
                <li><i class="pi pi-check"></i> Advanced ICU: Equipped for pediatric and adult care with ventilators</li>
                <li><i class="pi pi-check"></i> Rehabilitation Center: Comprehensive recovery programs for physical and mental health</li>
            </ul>
        </div>
        <div class="row whyChooseUs mt-5">
            <h5>Why Choose Us?</h5>
            <div class="col-4">
                <div class="info-card">
                    <p>State-of-the-art facilities for critical care and rehabilitation.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="info-card">
                    <p>24x7 support staff ensuring uninterrupted services.</p>
                </div>
            </div>
            <div class="col-4">
                <div class="info-card">
                    <p>Patient-centric approach for a smooth healthcare journey.</p>
                </div>
            </div>
        </div>
    </div>
</div>