.sub-title{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
    img{
        margin-right: 5px;
    }
}
.sub-head{
    color: var(--secondary-color);
    font-weight: 700;
}

.service{
    padding: 30px 150px;
    .description{
        font-size: 16px;
        font-weight: 600;
        color: var(--text-color);
        text-align: center;
        padding-inline: 60px;
        margin-bottom: 60px;
        span{
            color: var(--primary-color);
        }
    }
    .offered{
        background-color: var(--card-bg-primary);
        padding: 30px 20px;
        border-radius: 20px;
        h5{
            text-align: center;
            font-weight: 700;
            color: var(--primary-color);
            margin-bottom: 10px;
        }
        .wrapper{
            margin-top: 20px;
        }
        .service-card{
            background-color: var(--light-color);
            padding: 15px;
            // margin-top: 20px;
            border-radius: 10px;
            height: 100%;
            transition: all ease 0.2s;
            img{
                width: 100%;
                aspect-ratio: 2/1;
                object-fit: cover;
                object-position: top;
                border-radius: 7px;
            }
            .title{
                color: var(--light-color);
                font-weight: 700;
                font-size: 18px;
                margin: 10px auto;
                padding: 5px 10px;
                background-color: var(--primary-color);
                width: max-content;
                border-radius: 5px;
                transition: all ease 0.2s;
            }
            p{
                color: var(--secondary-color);
                padding-inline: 10px;
                font-weight: 500;
                transition: all ease 0.2s;
            }
            ul li{
                color: var(--secondary-color);
            }
            &:hover{
                cursor: pointer;
                background-color: var(--primary-color);
                .title{
                    color: var(--primary-color);
                    background-color: var(--secondary-color);
                    transform: translateY(-3px);
                }
                p{
                    color: var(--light-color);
                }
                ul li{
                    color: var(--light-color);
                }
            }
        }
    }

    .whyChooseUs{
        padding-bottom: 50px;
        h5{
            text-align: center;
            margin-top: 10px;
            margin-bottom: 30px;
            font-weight: 700;
            color: var(--secondary-color);
        }
        .icon-text {
            display: flex; 
            flex-wrap: nowrap;
            align-items: center;
            background-color: var(--card-bg-primary);
            padding: 10px;
            border-radius: 3px;
            margin-bottom: 20px;
            .icon i{
                font-weight: 800;
                margin-right: 15px;
                background-color: var(--light-color);
                color: var(--primary-color);
                padding: 10px;
                border-radius: 50%;
            }
            .text{
                font-size: 15px;
                font-weight: 500;
                color: var(--secondary-color);
            }
        }
    }
}


.ATE{
    background: url('/images/primary-bg.jpg');
    background-size: cover;
    padding: 50px 150px;
    h5{
        text-align: center;
        margin-bottom: 25px;
        font-weight: 700;
        color: var(--light-color);
    }
    .tech-card{
        background-color: var(--light-color);
        border-radius: 5px;
        padding: 20px;
        margin-bottom: 20px;
        height: 100%;
        h6{
            color: var(--primary-color);
            text-align: center;
        }
        hr{
            margin: 5px 0px;
        }
        p{
            color: var(--secondary-color);
            text-align: center;
        }
    }
}