<div class="container-fluid hero">
    <div class="row">
        <div class="col-md-8 content">
            <p class="highlight">24/7 EMERGENCY SERVICE</p>
            <h1 class="tagline">Caring For Generations, <br> Advancing Healthcare.</h1>
            <p class="welcomeMessage">
                Welcome to Lamba Multispeciality Hospital, a trusted name in healthcare since 1986.
                Situated in the heart of Hisar, Haryana, we have been a beacon of hope for countless
                patients seeking quality medical care. <br>
                Our journey began with a focus on psychiatric care and has since grown into a
                 state-of-the-art facility offering comprehensive healthcare solutions across
                  multiple specialties. With a commitment to excellence, compassion, and innovation,
                   we strive to make every patient's experience positive and transformative.
            </p>
            <button class="btn-main">Explore Our Services <i class="pi pi-arrow-up-right"></i></button>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row whyChooseUs">
        <div class="col-md-12">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Why Choose Us</div>
            <h5 class="text-center mb-4">We Are Always Open For Health Services</h5>
        </div>
        <div class="col-md-6">
            <div class="col wrapper">
                <img src="/images/icons/dental-chair.png" alt="">
                <div class="innerWrapper">
                    <h6>Advanced Facilities</h6>
                    <p>From cutting-edge operating theaters to fully equipped ICUs, we ensure that our patients receive world-class care.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col wrapper">
                <img src="/images/icons/doctor.png" alt="">
                <div class="innerWrapper">
                    <h6>Experienced Team</h6>
                    <p> Our multidisciplinary team comprises some of the most renowned specialists in the region.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col wrapper">
                <img src="/images/icons/24-hours.png" alt="">
                <div class="innerWrapper">
                    <h6>24/7 Services</h6>
                    <p>Round-the-clock emergency care, pharmacy, and ICU services. <br> &nbsp;</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="col wrapper">
                <img src="/images/icons/patient.png" alt="">
                <div class="innerWrapper">
                    <h6>Patient-Centric Care</h6>
                    <p>Personalized treatment plans designed to meet the unique needs of every individual.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid ourServices">
    <div class="row">
        <div class="col-md-12">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Services</div>
            <h5 class="text-center mb-4">Explore Our Services</h5>
        </div>
        <div class="col-md-12">
            <app-multi-card-carousel [cards]="cards" [cardsToShow]="3" [spaceBetween]="15"></app-multi-card-carousel>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row ourTestimonials">
        <div class="col-md-12">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Testimonials</div>
            <h5 class="text-center mb-4">What Our Patients Say</h5>
        </div>
        <div class="col-md-4">
            <div class="col testimonial-card">
                <img src="/images/user.png" alt="Patient's Picture" class="userImg">
                <img src="/images/icons/quote.png" alt="Quote" class="quoteImg">
                <p class="text-center">"Dr. Akshay Lamba's expertise in joint replacement gave me a new lease on life. The care I received was phenomenal."</p>
                <h6 class="text-center">- Ramesh Kumar, Hisar</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col testimonial-card">
                <img src="/images/user.png" alt="Patient's Picture" class="userImg">
                <img src="/images/icons/quote.png" alt="Quote" class="quoteImg">
                <p class="text-center">“The de-addiction center changed my brother's life for the better. Eternally grateful to Dr. R.S. Lamba and the team.”</p>
                <h6 class="text-center">- Priya Sharma, Delhi</h6>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col testimonial-card">
                <img src="/images/user.png" alt="Patient's Picture" class="userImg">
                <img src="/images/icons/quote.png" alt="Quote" class="quoteImg">
                <p class="text-center">“Exceptional care and top-notch facilities! Highly recommend Lamba Hospital for all healthcare needs.”</p>
                <h6 class="text-center">- Anjali Gupta, Haryana</h6>
            </div>
        </div>    
    </div>
</div>

<div class="container-fluid latestBlogs">
    <div class="row">
        <div class="col-md-12">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Recent Articles</div>
            <h5 class="sub-head text-center mb-4">Our Lastest Blog & News</h5>
        </div>
        <div class="col-md-4">
            <div class="col blog-card">
                <img src="/images/general-surgery.jpg" alt="">
                <span >07/12/2024</span>
                <h6 class="title">5 Tips for Maintaining Joint Health</h6>
                <p>Physical activity increases circulation, which helps joints heal and recover. Low-impact exercises like walking and water aerobics can help keep joints mobile and reduce ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col blog-card">
                <img src="/images/neuropsychiatry.jpg" alt="">
                <span >17/02/2023</span>
                <h6 class="title">Understanding Mental Health in the Modern Era</h6>
                <p>Mental health is a person's overall well-being, including their social, emotional, and psychological state. It's a fundamental human right that impacts how people ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col blog-card">
                <img src="/images/ophthalmology.jpg" alt="">
                <span >12/06/2022</span>
                <h6 class="title">How to Protect Your Eyes in the Digital Age</h6>
                <p>To protect your eyes in the digital age, you can take breaks, adjust your screen settings, and get regular eye exams. Follow the 20-20-20 rule: Every 20 minutes ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>