<div class="container-fluid">
    <div class="row banner">
        <img src="/images/contactUs-banner.png" alt="banner-img" class="banner-img">
    </div>
    <div class="row contact-us">
        <div class="col-md-6 form-wrapper">
            <form>
                <div class="row">
                    <div class="col-12 mb-4">
                        <p-floatlabel variant="on">
                            <input pInputText id="name" class="w-100"  autocomplete="off" />
                            <label for="name">Full Name*</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12 mb-4">
                        <p-floatlabel variant="on">
                            <input pInputText id="email" class="w-100"  autocomplete="off" />
                            <label for="email">Email</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12 mb-4">
                        <p-floatlabel variant="on">
                            <input pInputText maxlength="10" id="phone" pKeyFilter="int" class="w-100" />
                            <label for="phone">Phone Number*</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12">
                        <p-floatlabel variant="on">
                            <textarea pTextarea id="message" rows="5" cols="30" class="w-100"></textarea>
                            <label for="message">Message*</label>
                        </p-floatlabel>
                    </div>
                    <div class="col-12 text-center">
                        <button class="submit-btn" type="submit">Send message <i class="pi pi-chevron-right"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6 info">
            <div class="sub-title"><img src="/images/icons/sub-title.png" alt=""> Contact Us</div>
            <h5 class="sub-head mb-4">Just Say <span>Hello!</span></h5>
            <div class="icon-box">
                <i class="pi pi-phone"></i>
                <div>
                    <h6 class="fw-bold">Call Now</h6>
                    <p><a href="tel:+91-9812830594">+91-9812830594</a>, <a href="tel:01662-239950">01662-239950</a></p>
                </div>
            </div>
            <div class="icon-box">
                <i class="pi pi-envelope"></i>
                <div>
                    <h6 class="fw-bold">Email</h6>
                    <p><a href="mailto:lambahospitalhsr@gmail.com">lambahospitalhsr&#64;gmail.com</a></p>
                </div>
            </div>
            <div class="icon-box">
                <i class="pi pi-map-marker"></i>
                <div>
                    <h6 class="fw-bold">Address</h6>
                    <p>
                        <a target="_blank" href="https://maps.google.com/maps?ll=29.15708,75.722685&z=15&t=m&hl=en&gl=US&mapclient=embed&cid=1202763342738713844">
                            SCF-77/78, Red Square Market, Hisar, Haryana - 125001
                        </a>
                    </p>
                </div>
            </div>
            <div class="icon-box">
                <i class="pi pi-clock"></i>
                <div>
                    <h6 class="fw-bold">Business Hours</h6>
                    <p>Emergency Services: 24/7 <br>OPD Hours: 9 AM to 5 PM (Monday to Saturday)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mapouter p-0"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Lamba Hospital, Red Square Market, Hisar, Haryana - 125001&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://sprunkiphasez.com/">Sprunki Phase</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
    </div>
</div>