<div class="container-fluid">
    <!-- <div class="row banner">
        <img src="/images/contactUs-banner.png" alt="banner-img" class="banner-img">
    </div> -->
    <div class="row legacy">
        <div class="col-md-4 content-img">
            <img src="/images/founder.jpg" alt="Founder" class="lg-image">
        </div>
        <div class="col-md-8 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Legacy</div>
            <h5 class="sub-head text-center">Meet our founder</h5>
            <img src="/images/founder.jpg" alt="Founder" class="sm-image">
            <p>
                Founded in 1986 by the visionary <span>Dr. R.S. Lamba</span>, Lamba Multispeciality Hospital holds the 
                distinction of being North India's first private hospital dedicated to psychiatric care. 
                Over the years, we have continuously evolved, expanding our services and upgrading our 
                infrastructure to meet the growing needs of our community. In 2021, we undertook a 
                transformative renovation, emerging as a state-of-the-art multispeciality hospital.
            </p>
        </div>
    </div>
    <div class="row vision">
        <div class="col-md-7 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Mission</div>
            <!-- <h5 class="sub-head text-center">Our Mission</h5> -->
            <img src="/images/rehab.jpg" alt="" class="sm-image">
            <p>At Lamba Multi-Speciality Hospital, our mission is to provide <span>exceptional, patient-centered healthcare</span> by integrating state-of-the-art medical technology with compassionate care. We are dedicated to improving lives by offering comprehensive, affordable, and high-quality medical services tailored to the needs of our community. We strive to:</p>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">Deliver advanced diagnostics, treatment, and surgical care across multiple specialties.</span>
            </div>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">Ensure personalized attention and compassionate support to every patient.</span>
            </div>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">Promote preventive healthcare by spreading awareness and encouraging early diagnosis.</span>
            </div>
        </div>
        <div class="col-md-5 content-img">
            <img src="/images/rehab.jpg" alt="" class="lg-image">
        </div>
    </div>

    <div class="row vision">
        <div class="col-md-6 content-img">
            <img src="/images/vision.jpg" alt="" class="lg-image">
        </div>
        <div class="col-md-6 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Vision</div>
            <!-- <h5 class="sub-head text-center mb-4">Our Vision</h5> -->
            <img src="/images/vision.jpg" alt="" class="sm-image">
            <p>To be recognized as a trusted leader in multi-speciality healthcare, setting benchmarks in <span>quality, innovation, and patient satisfaction</span>. At Lamba Multi-Speciality Hospital, we envision a future where:</p>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">Healthcare is accessible and affordable to all, ensuring no one is left behind</span>
            </div>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text"> Patients receive world-class treatment with cutting-edge technology and compassionate care.</span>
            </div>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">Our hospital becomes the preferred choice for comprehensive medical care, from routine check-ups to critical procedures.</span>
            </div>
            <div class="icon-text">
                <span class="icon"><i class="pi pi-check"></i></span>
                <span class="text">We continue to expand and evolve, staying ahead in medical advancements and delivering exceptional outcomes.</span>
            </div>
        </div>
    </div>

    <div class="row values">
        <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Values</div>
        <h5 class="sub-head text-center">Our Values</h5>
        <div class="col-md-3 wrapper">
            <div class="col valueCard">
                <img src="/images/icons/doctor.png" class="icon" alt="">
                <h6 class="title">Compassion</h6>
                <p>Caring for our patients with empathy and respect.</p>
            </div>
        </div>
        <div class="col-md-3 wrapper">
            <div class="col valueCard">
                <img src="/images/icons/patient.png" class="icon" alt="">
                <h6 class="title">Integrity</h6>
                <p>Upholding the highest ethical standards in all our interactions.</p>
            </div>
        </div>
        <div class="col-md-3 wrapper">
            <div class="col valueCard">
                <img src="/images/icons/24-hours.png" class="icon" alt="">
                <h6 class="title">Excellence</h6>
                <p>Striving for perfection in every aspect of our services.</p>
            </div>
        </div>
        <div class="col-md-3 wrapper">
            <div class="col valueCard">
                <img src="/images/icons/doctor.png" class="icon" alt="">
                <h6 class="title">Innovation</h6>
                <p>Continuously adopting new technologies and practices to enhance patient care.</p>
            </div>
        </div>
    </div>

    <div class="row team">
        <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Team</div>
        <h5 class="sub-head text-center">Meet our experts</h5>
        <div class="row d-flex justify-content-center m-0">
            <div class="col-md-3 wrapper">
                <div class="team-card">
                    <img src="/images/rsLamba.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Dr. Rajendra Singh Lamba</h5>
                        <p class="position">MBBS, MS (Psychiatry)</p>
                    </div> 
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 wrapper">
                <div class="team-card">
                    <img src="/images/akshayLamba.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Dr. Akshay Lamba</h5>
                        <p class="position">MBBS, MS (Ortho), ECFMG certified(USA)</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <h5 class="sub-head text-center">Meet our support staff</h5>
        </div>
        <!-- col-lg-4 col-6 col-sm-6 -->
        <div class="row row-cols-2 row-cols-lg-5 supportStaff m-0 p-0">
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 1</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 2</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 3</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 4</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 5</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 6</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 7</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 8</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 9</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 10</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>