<div class="container-fluid">
    <!-- <div class="row banner">
        <img src="/images/contactUs-banner.png" alt="banner-img" class="banner-img">
    </div> -->
    <div class="row legacy">
        <div class="col-md-6 content-img">
            <img src="/images/ophthalmology.jpg"alt="">
        </div>
        <div class="col-md-6 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Legacy</div>
            <h5 class="sub-head text-center mb-4">Meet our founder</h5>
            <p>
                Founded in 1986 by the visionary <span>Dr. R.S. Lamba</span>, Lamba Multispeciality Hospital holds the 
                distinction of being North India’s first private hospital dedicated to psychiatric care. 
                Over the years, we have continuously evolved, expanding our services and upgrading our 
                infrastructure to meet the growing needs of our community. In 2021, we undertook a 
                transformative renovation, emerging as a state-of-the-art multispeciality hospital.
            </p>
        </div>
    </div>
    <div class="row legacy">
        <div class="col-md-6 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Mission</div>
            <h5 class="sub-head text-center mb-4">Our Mission</h5>
            <p>
                To deliver exceptional healthcare services that combine advanced medical technology with
                 compassionate care, ensuring the well-being of our community.
            </p>
        </div>
        <div class="col-md-6 content-img">
            <img src="/images/ophthalmology.jpg" alt="">
        </div>
    </div>
    <div class="row legacy">
        <div class="col-md-6 content-img">
            <img src="/images/ophthalmology.jpg" alt="">
        </div>
        <div class="col-md-6 content">
            <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Vision</div>
            <h5 class="sub-head text-center mb-4">Our Vision</h5>
            <p>
                To be a trusted leader in healthcare, setting benchmarks in quality, innovation, and patient satisfaction.
            </p>
        </div>
    </div>

    <div class="row values">
        <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Values</div>
        <h5 class="sub-head text-center">Our Values</h5>
        <div class="col-md-3">
            <div class="col valueCard">
                <img src="/images/icons/doctor.png" class="icon" alt="">
                <h6 class="title">Compassion</h6>
                <p>Caring for our patients with empathy and respect.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col valueCard">
                <img src="/images/icons/patient.png" class="icon" alt="">
                <h6 class="title">Integrity</h6>
                <p>Upholding the highest ethical standards in all our interactions.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col valueCard">
                <img src="/images/icons/24-hours.png" class="icon" alt="">
                <h6 class="title">Excellence</h6>
                <p>Striving for perfection in every aspect of our services.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="col valueCard">
                <img src="/images/icons/doctor.png" class="icon" alt="">
                <h6 class="title">Innovation</h6>
                <p>Continuously adopting new technologies and practices to enhance patient care.</p>
            </div>
        </div>
    </div>

    <div class="row team">
        <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Team</div>
        <h5 class="sub-head text-center mb-4">Meet our experts</h5>
        <div class="col-md-3">
            <div class="team-card">
                <img src="/images/akshayLamba.jpg" class="member-image" alt="Member's Image">
                <div class="info">
                    <h5 class="title">Dr. Akshay Lamba</h5>
                    <p class="position">MBBS, MS (Ortho), ECFMG certified(USA)</p>
                </div>
                <div class="socials">
                    <a href=""><i class="pi pi-instagram"></i> </a>
                    <a href=""><i class="pi pi-facebook"></i> </a>
                    <a href=""><i class="pi pi-linkedin"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-card">
                <img src="/images/akshayLamba.jpg" class="member-image" alt="Member's Image">
                <div class="info">
                    <h5 class="title">Dr. Rajendra Singh Lamba</h5>
                    <p class="position">MBBS, MS (Psychiatry)</p>
                </div>
                <div class="socials">
                    <a href=""><i class="pi pi-instagram"></i> </a>
                    <a href=""><i class="pi pi-facebook"></i> </a>
                    <a href=""><i class="pi pi-linkedin"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-card">
                <img src="/images/akshayLamba.jpg" class="member-image" alt="Member's Image">
                <div class="info">
                    <h5 class="title">Dr. S.B. Jain</h5>
                    <p class="position">MBBS, MS (Ophthalmology)</p>
                </div>
                <div class="socials">
                    <a href=""><i class="pi pi-instagram"></i> </a>
                    <a href=""><i class="pi pi-facebook"></i> </a>
                    <a href=""><i class="pi pi-linkedin"></i> </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="team-card">
                <img src="/images/akshayLamba.jpg" class="member-image" alt="Member's Image">
                <div class="info">
                    <h5 class="title">Dr. Akshay Lamba</h5>
                    <p class="position">MBBS, MS (Ortho), ECFMG certified(USA)</p>
                </div>
                <div class="socials">
                    <a href=""><i class="pi pi-instagram"></i> </a>
                    <a href=""><i class="pi pi-facebook"></i> </a>
                    <a href=""><i class="pi pi-linkedin"></i> </a>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <h5 class="sub-head text-center mb-4">Meet our support staff</h5>
        </div>
        <div class="row row-cols-5 supportStaff">
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 1</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 2</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 3</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 4</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 5</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 1</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 2</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 3</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 4</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
            <div class="col mb-4">
                <div class="team-card">
                    <img src="/images/neuropsychiatry.jpg" class="member-image" alt="Member's Image">
                    <div class="info">
                        <h5 class="title">Member 5</h5>
                        <p class="position">Position</p>
                    </div>
                    <div class="socials">
                        <a href=""><i class="pi pi-instagram"></i> </a>
                        <a href=""><i class="pi pi-facebook"></i> </a>
                        <a href=""><i class="pi pi-linkedin"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>