@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

:root{
    // #36C1EC
    --primary-color: #33C1ED;
    --secondary-color:#0A2241;
    --text-color:#707882;
    --link-color:#456EA1;
    --light-color:#ffffff;
    --dark-color:#000000;
    --stroke-color:#D9E1EB;
    --card-bg-primary:#ECF0F5;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: var(--primary-color);
}
.banner{
    margin: 40px 28px;
    border-radius: 30px;
    overflow: hidden;
    .banner-img{
        width: 100%;
        height: auto;
        display: block; 
        object-fit: cover;
        padding: 0;
    }
}
.submit-btn{
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    padding: 8px 24px;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 600;
    color: var(--light-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    transition: all ease 0.5s;
    i{
        font-size: 10px;
        font-weight: 600;
    }
    &:hover{
        background: var(--light-color);
        color: var(--primary-color);
    }
}