@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Manrope", sans-serif;
}

:root{
    // #36C1EC
    --primary-color: #33C1ED;
    --secondary-color:#0A2241;
    --text-color:#707882;
    --link-color:#456EA1;
    --light-color:#ffffff;
    --dark-color:#000000;
    --stroke-color:#D9E1EB;
    --card-bg-primary:#b1e8f976;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background-color: var(--primary-color);
}