<footer>
    <div class="wrapper">
        <div class="column first">
            <a routerLink="/home" routerLinkActive="active"><img src="/images/logo.png" alt="Logo"></a>
            <p>Lamba Multispeciality Hospital is a trusted name in healthcare since 1986.
                 Situated in the heart of Hisar, Haryana.
            </p>
            <ul class="socials">
                <li><a href=""> <i class="pi pi-facebook"></i></a></li>
                <li><a href=""> <i class="pi pi-twitter"></i></a></li>
                <li><a href=""> <i class="pi pi-instagram"></i></a></li>
                <li><a href=""> <i class="pi pi-linkedin"></i></a></li>
            </ul>
        </div>
        <div class="column second">
            <h5>Our <span>Services</span></h5>
            <ul class="links">
                <li><a ><i class="pi pi-chevron-right"></i> Orthopedics </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Ophthalmology </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Neuropsychiatry </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> General Surgery </a></li>
            </ul>
        </div>
        <div class="column third">
            <h5>Useful <span>Links</span></h5>
            <ul class="links">
                <li><a ><i class="pi pi-chevron-right"></i> About Us </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Contact Us </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Blogs </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Careers </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Privacy Policy </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Terms </a></li>

            </ul>
        </div>
        <div class="column forth">
            <h5>Other <span>Links</span></h5>
            <ul class="links">
                <li><a ><i class="pi pi-chevron-right"></i> Our Team </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Appointments </a></li>
                <li><a ><i class="pi pi-chevron-right"></i> Link 1 </a></li>

            </ul>
        </div>
    </div>
</footer>