<div class="container-fluid">
     <!-- <div class="row banner">
        <img src="/images/contactUs-banner.png" alt="banner-img" class="banner-img">
    </div> -->
    <div class="row blogs">
        <div class="sub-title text-center"><img src="/images/icons/sub-title.png" alt=""> Our Blogs</div>
        <div class="col-md-4 mb-4" >
            <div class="col blog-card">
                <img src="/images/general-surgery.jpg" alt=""  routerLink="/blog-detail">
                <span >07/12/2024</span>
                <h6 class="title">5 Tips for Maintaining Joint Health</h6>
                <p>Physical activity increases circulation, which helps joints heal and recover. Low-impact exercises like walking and water aerobics can help keep joints mobile and reduce ...</p>
                <button  routerLink="/blog-detail" class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col blog-card">
                <img src="/images/neuropsychiatry.jpg" alt="">
                <span >17/02/2023</span>
                <h6 class="title">Understanding Mental Health in the ...</h6>
                <p>Mental health is a person's overall well-being, including their social, emotional, and psychological state. It's a fundamental human right that impacts how people ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col blog-card">
                <img src="/images/ophthalmology.jpg" alt="">
                <span >12/06/2022</span>
                <h6 class="title">How to Protect Your Eyes in the Digital Age</h6>
                <p>To protect your eyes in the digital age, you can take breaks, adjust your screen settings, and get regular eye exams. Follow the 20-20-20 rule: Every 20 minutes ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col blog-card">
                <img src="/images/general-surgery.jpg" alt="">
                <span >07/12/2024</span>
                <h6 class="title">5 Tips for Maintaining Joint Health</h6>
                <p>Physical activity increases circulation, which helps joints heal and recover. Low-impact exercises like walking and water aerobics can help keep joints mobile and reduce ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col blog-card">
                <img src="/images/neuropsychiatry.jpg" alt="">
                <span >17/02/2023</span>
                <h6 class="title">Understanding Mental Health in the ...</h6>
                <p>Mental health is a person's overall well-being, including their social, emotional, and psychological state. It's a fundamental human right that impacts how people ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="col blog-card">
                <img src="/images/ophthalmology.jpg" alt="">
                <span >12/06/2022</span>
                <h6 class="title">How to Protect Your Eyes in the Digital Age</h6>
                <p>To protect your eyes in the digital age, you can take breaks, adjust your screen settings, and get regular eye exams. Follow the 20-20-20 rule: Every 20 minutes ...</p>
                <button class="read-more float-end">Read More <i class="pi pi-chevron-right"></i></button>
            </div>
        </div>
    </div>
</div>